@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #000;
  color: #fff;
}
mark{
  background: none;
  color: #fff;
}


.messageout-enter {

}

/* ending ENTER animation */
.messageout-enter-active {
  opacity: 0;

}
.messageout-enter-active:nth-child(2) {
  
} 



/* starting EXIT animation */
.messageout-exit {
  position: absolute;
  top: 23px;
}





/* ending EXIT animation */
.messageout-exit-active {
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.item-enter {
  position: absolute;
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 600ms ease-in;
  -webkit-transition: opacity 600ms ease-in;
  -moz-transition: opacity 600ms ease-in;
  -ms-transition: opacity 600ms ease-in;
  -o-transition: opacity 600ms ease-in;
}
.item-exit {
  opacity: 1;
  position: absolute;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 600ms ease-in;
  -webkit-transition: opacity 600ms ease-in;
  -moz-transition: opacity 600ms ease-in;
  -ms-transition: opacity 600ms ease-in;
  -o-transition: opacity 600ms ease-in;
}
